---
import Course from '../components/Course.astro';
import Guitarra from '../components/Guitarra.astro';
import Post from '../components/Post.astro';
import Layout from '../layouts/Layout.astro';
const urlGuitars = `${import.meta.env.PUBLIC_API_URL}/guitars?populate=image`;
const urlPosts = `${import.meta.env.PUBLIC_API_URL}/posts?populate=image`;
const urlCourse = `${import.meta.env.PUBLIC_API_URL}/course?populate=image`;

const [resGuitars, resPosts, resCourse] = await Promise.all([fetch(urlGuitars), fetch(urlPosts), fetch(urlCourse)]);

const [{ data: guitars }, { data: posts }, { data: course }] = await Promise.all([
	resGuitars.json(),
	resPosts.json(),
	resCourse.json(),
]);
---

<Layout title="Home">
	<main class="contenedor">
		<h1 class="heading">Nuestra coleccion</h1>
		<div class="grid">
			{
				guitars?.map((guitar) => (
					<Guitarra
						name={guitar.attributes.name}
						description={guitar.attributes.description}
						url={guitar.attributes.url}
						price={guitar.attributes.price}
						image={guitar.attributes.image.data.attributes.formats.medium.url}
					/>
				))
			}
		</div>
	</main>
	<Course
		title={course.attributes.title}
		conteint={course.attributes.conteint}
		image={course.attributes.image.data.attributes.formats.medium.url}
	/>
	<section class="contenedor">
		<h2 class="heading">Blog</h2>
		<div class="grid">
			{
				posts.map((post) => (
					<Post
						title={post.attributes.title}
						conteint={post.attributes.conteint}
						url={post.attributes.url}
						image={post.attributes.image.data.attributes.formats.medium.url}
						publishedAt={post.attributes.publishedAt}
					/>
				))
			}
		</div>
	</section>
</Layout>
